# Node.js
node_modules/
typescript-lambda/node_modules
modern-nuxt-starter/node_modules
modern-nuxt-starter/.nuxt
modern-nuxt-starter/.output
golang-lambda/bootstrap
python-lambda/lambda_build

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env/
.venv/
venv/

# Build / binary artifacts
build/
dist/
*.o
*.out
*.class
*.exe
*.dll
*.bin
*.a
*.dylib

# OS / IDE / Misc
.DS_Store
Thumbs.db
*.log
*.tmp